@use '../../shared/styles/kasko-theme' as k;

@include k.panel-layout;

.kl-menu-dense {
  gap: k.u(10);
}

.kl-menu-dense .kl-menu-item {
  height: k.u(50);
  font-size: k.u(20);
}

.kl-dropdown-link {
  @include k.button(dark);
  @include k.button-small;
  width: 100%;
  margin-top: 10px;
}
